* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a1c20;
  background-color: #eeeff1;
}

a {
  color: #4a76ee;
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .right ul {
  display: flex;
  gap: 20px;
}

nav .right ul li a {
  color: #1a1c20;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text h2 span {
  color: #0073f7;
  margin: 20px 0;
}

.hero-section .headshot {
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  border-radius: 50%;
}

.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
  font-weight: bold;
}

.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.projects-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.projects-section .text {
  text-align: center;
  margin-bottom: 30px;
  color: #4a4a4a;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 15px;
}
